<div class="container text-center">
  <h1>About Page</h1>
  <p>Welcome to DevMatch! Our company focuses on creating an exclusive community
    developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Beatae quae, eveniet maiores odio suscipit soluta accusamus 
    voluptas a corporis fugit ut minima cupiditate odit. Sint perferendis debitis 
    iure et impedit.</p>
</div>